<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Exigency{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
            {% if app.session.flash('notice') %}
            <div class="flash-message">
                <em>Notice</em>: {{ app.session.flash('notice') }}
            </div>
            {% endif %}

            {% block content_header %}
            <div id="menu" style="float: right">
                    {% block content_header_more %}
                    <span>logged in as <strong>{{ app.user ? app.user.username : 'Anonymous' }}</strong> <a href="{{ path('_logout') }}">Logout</a></span> 
                    {% endblock %}
                </div>

                <div style="clear: both"></div>
            {% endblock %}

                <div class="content">
                {% block content %}
                {% endblock %}
                    </div>
                </div>
            </body>
        </html>
