{% extends 'PasaRequirementBundle::manager_layout.html.twig' %}

{% block content %}
<h1>Exigency creation</h1>

<form action="{{ path('exigency_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('exigency') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}