/* 
    Document   : main
    Created on : May 25, 2012, 10:11:50 PM
    Author     : vamps
    Description:
        Purpose of the stylesheet follows.
*/

.cssmenu{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	}
.cssmenu ul{
	background:#333333;
	height:35px;
	list-style:none;
	margin:0;
	padding:0;
	}
.cssmenu li{
	float:left;
	padding:0px;
	}
.cssmenu li a{
	background:#333333 url('images/seperator.gif') bottom right no-repeat;
	color:#cccccc;
	display:block;
	font-weight:normal;
	line-height:35px;
	margin:0px;
	padding:0px 25px;
	text-align:center;
	text-decoration:none;
	}
.cssmenu li a:hover, .cssmenu ul li:hover a{
	background: #2580a2 url('images/hover.gif') bottom center no-repeat;
	color:#FFFFFF;
	text-decoration:none;
	}
.cssmenu li ul{
	background:#333333;
	display:none;
	height:auto;
	padding:0px;
	margin:0px;
	border:0px;
	position:absolute;
	width:225px;
	z-index:200;
	/*top:1em;
	/*left:0;*/
	}
.cssmenu li:hover ul{
	display:block;
	
	}
.cssmenu li li {
	background:url('images/sub_sep.gif') bottom left no-repeat;
	display:block;
	float:none;
	margin:0px;
	padding:0px;
	width:225px;
	}
.cssmenu li:hover li a{
	background:none;
	
	}
.cssmenu li ul a{
	display:block;
	height:35px;
	font-size:12px;
	font-style:normal;
	margin:0px;
	padding:0px 10px 0px 15px;
	text-align:left;
	}
.cssmenu li ul a:hover, .cssmenu li ul li:hover a{
	background:#2580a2 url('images/hover_sub.gif') center left no-repeat;
	border:0px;
	color:#ffffff;
	text-decoration:none;
	}
.cssmenu p{
	clear:left;
	}	
